woocommerce/
woocommerce-bookings/
frontend-dashboard/
woocommerce-admin/
woocommerce-gateway-stripe/
woocommerce-services/
woocommerce-shipstation-integration/
classic-editor/
auto-featured-image-from-title-uploads/
auto-featured-image-from-title-pro-png-layer/
auto-featured-image-from-title-pro/
akismet/
wp-crontrol/
wordpress-seo/
bulk-delete/
revslider/
loco-translate/
envato-wordpress-toolkit/
contact-form-7/
wp-directory/
hello.php
index.php
*.zip